<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/css/about.css">
    <title>Mental Health</title>
</head>
<body>
    <h2>Welcome, {{username}} !</h2>
    
    <div class="topnav">
                
        <a class="active" href="{{url_for('about')}}">ME</a>
        <a href="{{url_for('info')}}">Home</a>
        <a href="{{url_for('burnout')}}">Employee Burnout</a>
        <a href="{{url_for('personality')}}">Personality</a>
        <a href="{{url_for('resource')}}">Resource</a>
        <a href="{{url_for('journal')}}">Journal</a>
        <a href="{{url_for('userRecords')}}">Records</a>
        <a href="{{url_for('chatbot')}}">ChatBot</a>
        <a href="{{url_for('logout')}}">Logout</a>
      </div>

  
      </body>
</body>
</html>