<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>
    <main class="container">
      <div class="indexpage">
        <p>Mental Health</p>
        <section class="animation">
          <div class="first"><div>Using Chat Bot</div></div>
          <div class="second"><div>Personality Classification</div></div>
          <div class="third"><div>Employee BurnOut</div></div>
        </section>
      </div>
      </main>
    <div class="center">
   <br><br><br><br><br>
   <br>
 
    <button class="button-85" role="button" onclick="window.location.href='{{url_for('login')}}'; ">Login Page</button><br><br>
    <button class="button-85" role="button" onclick="window.location.href='{{url_for('register')}}'; ">Registration Page</button>
</div>

   
</body>
</html>