<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML MAIL TEMPLATE</title>
</head>
<body>
    <table align = "center">
       <thead>
        <th>Hi, #callName#,</th>
       </thead> 

       <tbody>
        <tr>
            <td>Here's your personalized report of past-week</td>
        </tr>

        <tr>
            <td>Your mind-state is: #mood#</td>
        </tr>

        <tr>
            <td>You can continue to improve this by doing: </td>
        </tr>

        <tr>
            <td>#resources#</td>
        </tr>
        
       </tbody>
    </table>
    
</body>
</html>