<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/journel.css">

    <title>Journal</title>
</head>
<body>
    
    <div class="topnav">
                
        <a class="active" href="{{url_for('about')}}">ME</a>
        <a href="{{url_for('info')}}">Home</a>
        <a href="{{url_for('burnout')}}">Employee Burnout</a>
        <a href="{{url_for('personality')}}">Personality</a>
        <a href="{{url_for('resource')}}">Resource</a>
        <a href="{{url_for('journal')}}">Journal</a>
        <a href="{{url_for('userRecords')}}">Records</a>
        <a href="{{url_for('chatbot')}}">ChatBot</a>
        <a href="{{url_for('logout')}}">Logout</a>
      </div>

      
      <p>Mental illness is a grievous health complication that impacts a person's emotional state, reasoning abilities, and social interaction skills.The increase in mental health problems and the need for effective medical health care have led to the involvement of Machine Learning and Artificial Intelligence in this domain.It plays a significant role in detecting any behavioral anomaly.
      
      Mental health is vast topic.Integration of personal and professional aspect of one’s 
      life is not fully integrated.Provision of integrated journal is not provided.
      This is not usual taken as the input for processing.Immediate factors like facial expressions , sensor inputs are used in majority of the systems.
      
      The project aims to act as a one-stop solution to address several behavioral psychology and mental health challenges.The web application helps people to identify their personality traits and help deal with problems like anxiety, depression, and mood swings.It can also help an organization identify employee-wellbeing based on the burnout prediction.A digital safe space rendered as a journal helps identify the user's emotional state and detect early signs of suicide ideation and depression. An AI-powered chatbot can help individuals communicate their experiences, and the personalized self-help or appreciative resources triggered as a response helps in improving the well-being of an individual.</p> 
      
      
      
      <p>1. It act as a one-stop solution to address several behavioral psychology.
        2. It helps people to identify their personality traits and help deal with problems like anxiety, depression, and mood swings.
      
      3. It helps to derive the statistics as the records are stored in a database.
      4. Fast,simple and secure.
      
      5. Easy to use.
      
      6. Accurate. </p> 
      
      
       
      <p>1. Choose the required module from navigation bar
      2. fill the form or record your thoughts(journal/chatbot).
      3. view your past records in the user-records section.
      4. find the detailed information about your mental state in the resource section.</p>
      
      
      
      <h3>sriya korapolu</h3>
      <h3>pooja valluru</h3>
      <h3>Rajesh Kumar Amraj<h3>
    <a href="{{url_for('about')}}">Home</a></div></center>
    </div>

</body>
</html>