<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/record.css">
    <link rel="stylesheet" href="/static/css/resource.css">

    <title>Resources</title>
</head>
<body>
    <h2>Resources</h2>
    <a href="{{url_for('about')}}">Home</a>
        <h4> 1.Books of mental health </h4>
        <h4> 2.Doctors contract information </h4>
        <h4> 3.Internet resource </h4>
        <h4> 4.Toll number for mental health </h4>
        <h4> 5.Yoga and exercise </h4>
        <h4> 6.Games for stress relief </h4>

        
        <h2>BOOKS OF MENTAL HEALTH:</h2>
        <center>
            <img src="/static/h1.jpg" width="100" height="200" >
          </center>

          <h4> 1.	The Happiness Trap: An effective method for loosening the grid of negative emotions so you can follow your values in life.</h4><br><br>
          
          <center>
            <img src="/static/h2.jpg" width="100" height="200" >
          </center>

          <h4>2.	The Meaning of Anxiety: The book is notable for questioning fundamental assumptions about mental<br> health and asserts that anxiety in fact aids in the development of an ultimately healthy personality</h4><br><br>
          <center>
            <img src="/static/h3.jpg" width="100" height="200" >
          </center>
          <h4>3.	Wherever You Go There You Are: giving you simple ways to practice it in everyday life, both <br>formally and informally, while helping you avoid the obstacles on your way to a more aware self.</h4><br><br>

          <center>
            <img src="/static/h4.jpg" width="100" height="200" >
          </center>

          <h4>4.	Dare: Stop panic attacks and end feelings of general anxiety. Face any anxious situation you've been avoiding. <br>Put an end to anxious or intrusive thoughts. Use the correct natural supplements to relieve anxiety.<br> Boost your confidence and feel like your old self again</h4><br><br>

          <center>
            <img src="/static/h5.jpg" width="100" height="200" >
          </center>

          <h4>5.	The Upside of Stress: The Upside Of Stress helps you change your mindset from one that avoids anxiety at all <br>costs to a belief that embraces stress as a normal part of life, which helps you respond to it in better ways and actually be healthier.</h4><br><br>
         
          <center>
            <img src="/static/h6.jpg" width="100" height="200" >
          </center>

          <h4>
            6.	Self-Compassion: Based on empirical psychological research, this popular book looks at the causes and effects of the<br> vicious self-criticism and feelings of inadequacy that plague many of our minds  </h4><br><br>

            <center>
                <img src="/static/h7.jpg" width="100" height="200" >
              </center>
            <h4>7.	When Panic Attacks: The truth is that you can defeat your fears. With more than forty simple, effective techniques, <br>you'll learn how to overcome every conceivable kind of anxiety without medication. </h4><br><br>
            <center>
                <img src="/static/h8.jpg" width="100" height="200" >
              </center>
              <h4>8.	Burnout: This groundbreaking book explains why women experience burnout differently than men—and provides a simple,<br> science-based plan to help women minimize stress, manage emotions, and live a more joyful life.</h4><br><br>

              <center>
                <img src="/static/h9.jpg" width="100" height="200" >
              </center>
              <h4>9. The Anxiety & Phobia Workbook: The Anxiety and Phobia Workbook is an unparalleled, essential resource for people struggling<br> with anxiety and phobias. Relaxation and breathing techniques. New research on exposure therapy for phobias. Lifestyle, exercise, mindfulness. </h4><br><br>

              <center>
                <img src="/static/h10.jpg" width="100" height="200" >
              </center> 
              <h4>
                10 The Strengths- Based Workbook For Stress Relief : Find calm in the midst of everyday chaos. This strengths-based workbook offers<br> a unique step-by-step approach grounded in positive psychology to help you reduce chronic stress in a busy, frazzled world.
                </h4><br><br>

                <center>
                    <img src="/static/h11.jpg" width="100" height="200" >
                  </center> 

                  <h4>11. Learned Hopefulness: People who suffer from low mood or depression often lose hope-in themselves and the world-and, as a<br> result, they spiral deeper and deeper into major depression. Improve resiliency and motivation, and move past feelings of hopelessness.</h4><br><br>

                  
                <center>
                    <img src="/static/h12.jpg" width="100" height="200" >
                  </center> 
                  <h4>
                    12. Depression & Other Magic Tricks: Depression & Other Magic Tricks explores themes of mental health, love, and family. It is <br>a documentation of struggle and triumph, a celebration of daily life and of living.
                    </h4><br><br>

                  
                <center>
                    <img src="/static/h13.jpg" width="100" height="200" >
                  </center> 
                  <h4>  13. The Mindful Way Through Depression: If you've ever struggled with depression or know someone who has, take heart: Mindfulness<br>practice is a simple, powerful way to naturally break depression's self-perpetuating cycle. With The Mindful Way through Depression, four.</h4><br><br>

                  
                <center>
                    <img src="/static/h14.jpg" width="100" height="200" >
                  </center> 
                  <h4>14. How Emotion Are Made: We form our feelings from a combination of unique sensory input and the brain's best predictions. The theory is<br> that the brain doesn't just spontaneously create emotions per the situation. Rather, the source of emotions is in each person's individual experiences.</h4><br><br>


                
                  <center>
                    <img src="/static/h15.jpg"width="100" height="200" >
                  </center> 
                  <h4>15. Hope and Help For Your Nerves: Claire Weekes had an anxiety disorder herself while studying to become a doctor. She usedher knowledge<br> and personal beliefs about anxiety to heal from her "nervous exhaustion" and decided to use her experiences and knowledge to help others.</h4><br><br><br><br>



                  <h1>DOCTOR'S CONTACT INFORMATION: </h1>
                  <br>


                  <h2>1.Anandam Mind Health and Neuro Clinic:</h2>
  
                    <h3>Address: 9-114/52, Flat no. 202, Sri Sai residency, Vijayapuri Colony, Nagaram, Telangana 500083<br>
                    Areas served: Nacharam<br>
                    Hours: Open 24 hours<br>
                    Phone: 083097 62595</h3><br>

                    <h2> 2. Medway speciality clinic:</h2>
      
                    <h3>Address: H. No, 1-12-26, Brindavan Colony, Mallikarjuna Nagar, Boduppal, Hyderabad, Telangana 500039<br>
                    Areas served: Brindavan Colony<br>
                    Hours: Open ⋅ Closes 10 pm<br>
                    Phone: 086880 81389</h3><br>


                    <h2>3.Praveen neuro mind care:</h2>

                    <h3>Address: star health diagnostic and poly clinic building 1ST floor, Entrenchment Rd, beside ICICI bank, East Marredpally, Hyderabad, Telangana 500026<br>
                    Areas served: Secunderabad and nearby areas<br>
                    Hours: Closed ⋅ Opens 5 pm<br>
                    Phone: 080884 93625</h3><br>

                    <h2>4.Sahara Mental Health Clinic:</h2>
  
                    <h3>  Address: Rd to Mamta Sweets, Devki Chambers, Shop No.8, Ground Floor, near Paradise, Secunderabad, Telangana 500003<br>
                    Areas served: Begumpet and nearby areas<br>
                    Hours: Opens soon ⋅ 11 am<br>
                    Phone: 087905 43310</h3><br>

                    <h2>5.Dr. Vasavi Samykta Sunki</h2>

                    <h3>Address: Plot a-12; house no, 1-9-71/a/12/b, rishab Heights, Rukminipuri Colony, Apollo Clinic A.S Rao Nagar, Hyderabad, Telangana 500062<br>
                    Hours: Open ⋅ Closes 6 pm<br>
                    Phone: 1860 500 4916</h3><br><br>


                    <h1>INTERNET RESOURCE:</h1>
   
                    <h2>Support from the Internet for individuals with mental disorders: advantages and disadvantages of e-mental health service delivery:</h2>
                    
                         <p>Online assisted health services for individuals with mental disorders will not resolve all the challenges associated with the lack of availability or long waiting lists.<br> However, they can pull their weight as alternatives to conventional treatment programs and enable available resources to get more mental health patients into therapy in<br> spite of the fact that several issues are raised. It appears that, in spite of much uncertainty about the impact of e-mental health on the efficiency and effectiveness of<br> mental health services, health care providers are able to supply more clients using fewer resources through the use of e-mental health. It remains to be seen whether the <br>dissemination of e-mental health care resources will meet all the expectations.</p>
                    
                    <h2>Predictors of Psychological Distress and Mental Health Resource Utilization among Employees:</h2>
                    
                    <p>This large-scale study allows better representation and increases insight into the awareness of mental health services and health-seeking behaviors among employees .<br> Our study findings additionally highlight predictors of psychological distress in workplace health studies. Taken together, it pinpoints the need for a greater focus on <br>mental wellness among our working population in terms of preventive measures by aiding prediction of employees most at risk of psychological distress through predictors identified<br> in this study. Our data on service utilization can also be used in the future to help inform which interventions are most acceptable to employees <br>in this setting if we want to improve their mental wellbeing.</p>
                    
                    <h2>Maintaining Mental Health Through Positive Writing:</h2>
                    
                    <p>Effects of a Resource Diary on Depression and Emotion Regulation Participants completing RD had significantly lower depression scores than controls and reported an increased<br> use of the functional emotion regulation strategy “reappraisal” 5 weeks after discharge. A decreased use of the dysfunctional strategy “expressive suppression” was found<br> in the female subsample. No differences were found for resource activation. These findings suggest that a resource-oriented positive writing intervention has potential <br>for stabilizing mental health after psychiatric discharge and could therefore present an economical alternative or addition to established aftercare programs.</p>
                    
                    <h2>Mobile health (mHealth) in mental health: </h2>
                    
                    <p>Mobile phones are increasingly being used to get mental health information and other services on the internet. Integration of mobile phone technologies with clinic-based services<br> can bridge the gap between services and users and may help in providing psychosocial interventions. Efficient, convenient and affordable mobile technologies may also be used<br> in increasing awareness about mental illnesses in the population and linking personnel in primary care centres with secondary and tertiary care services. mHealth protocols <br>designed for mental healthcare should focus on caregivers as they remain a crucial resource in the absence of facilities for community-based care in low-resource settings.</p>
                    
                    <h2>The use and effectiveness of mobile mental health apps for treating anxiety and depression:</h2>
                    
                    <p>The area of mental health apps, and health apps more broadly, is developing quickly. Technological innovations mean that it has been difficult for research to keep up with development.<br> Studies involving large sample RCTs take time to organise and implement, to manage the large numbers of participants and amounts of incoming data and to synthesise that<br> data into clinically meaningful results (Pham et al., 2016), and although the RCT is considered the gold standard for demonstrating efficacy in scientific research, there are<br> considerable numbers of researchers who believe that RCTs are not the most appropriate experimental designs for health apps (Betton et al., 2017). If research in the area <br>of mental health apps is to keep up with development, and to include the involvement of clinicians, perhaps newer, more novel ways of research/evaluation are required.</p>
                    
                    <h3>Toll number for mental health:</h3>
                    
                    <h3>Toll-Free Mental Health Rehabilitation Helpline Kiran (1800-599-0019)</h3>
                    
                    <h3>National Alliance on Mental Illness (NAMI) Helpline: 1-800-950-NAMI (6264)</h3>
                    
                    <h3>One Life : 78930 78930</h3>
                    
                    <h3>VANDREVALA FOUNDATION : 9999666555</h3>
                    
                    <h3>PSYCHO-SOCIAL FIRST AID COUNSELLING HELPLINE: Voice that Cares 8448-8448-45</h3><br><br>

        <h1>YOGA AND EXERCISE:</h1>

        <center>
            <img src="/static/y1.jpg" width="100" height="200" >
          </center>
          <h2>1.	Balasana</h2>
          <center>
            <img src="/static/y2.jpg" width="100" height="200" >
          </center>
          <h2>2.	Louts Position</h2>
          <center>
            <img src="/static/y3.jpg" width="100" height="200" >
          </center>
          <h2>3.	uttanasana</h2>
          <center>
            <img src="/static/y4.jpg" width="100" height="200" >
          </center>
          <h2>4.	Baddha Konasana</h2>
          <center>
            <img src="/static/y5.jpg" width="100" height="200" >
          </center>
          <h2>5.	Bridge Pose</h2>
          <center>
            <img src="/static/y6.jpg" width="100" height="200" >
          </center>
          <h2>6.	Upward facing Dog pose</h2>
          <center>
            <img src="/static/y7.jpg" width="100" height="200" >
          </center>
          <h2>7.	Dhanurasana</h2>
          <center>
            <img src="/static/y8.jpg" width="100" height="200" >
          </center>
          <h2>8.	Corpse </h2>
          <center>
            <img src="/static/y9.jpg" width="100" height="200" >
          </center>
          <h2>9.	Janusirsasana</h2>
          <center>
            <img src="/static/y10.jpg" width="100" height="200" >
          </center>
          <h2>10.	 Exercise</h2><br><br>

        <h1>GAMES FOR STRESS RELEIF:</h1>

        <center>
            <img src="/static/g1.jpg" width="100" height="200" >
          </center>
          <h2>1.BUBBLE WRAP</h2>
          <center>
            <img src="/static/g2.jpg" width="100" height="200" >
          </center>
          <h2>2.CANDY CRUSH</h2>
          <center>
            <img src="/static/g3.jpg" width="100" height="200" >
          </center>
          <h2>3.PUZZLE</h2>
          <center>
            <img src="/static/g4.jpg" width="100" height="200" >
          </center>
          <h2>4.CUBE SOLVER</h2>
          <center>
            <img src="/static/g5.jpg" width="100" height="200" >
          </center>
          <h2>5.CHESS</h2>
          <center>
            <img src="/static/g6.jpg" width="100" height="200" >
          </center>
          <h2>6.SUDOKO</h2>






    </body>
</body>
</html>